  <header class="site-header">

  
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      

    <nav class="navbar-brand" href="{{site.baseurl}}/buscotrabajoargentina.github.io/">
      <img src="{{site.baseurl}}/images/Sin-titulo-2.svg"  width="280" height="50" alt="logo"> 
    </nav>
  </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    
</nav>
</header>
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#237afc"
    },
    "button": {
      "background": "#fff",
      "text": "#237afc"
    }
  },
  "position": "bottom-right",
  "content": {
    "message": "Este sitio utiliza cookies para proporcionarle la mejor experiencia posible.",
    "dismiss": "OK",
    "link": "Mostrar más",
    "href": "https://www.buscotrabajocaba.com/politicas-de-privacidad/"
  }
});
</script>
